<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dine & Co</title>
</head>

<body>
  <a tabindex="1" href="#content-id" class="skip-to-content">To the Content</a>
  <header>
    <div id="navbar-id" class="navbar">
      <div class="header-inner">
        <h1 class="header-title">
          Dine & Co
        </h1>
        <ul class="navigation-responsive">
          <li><a id="navigation-drawer-id" class="navigation-drawer" href="#">☰</a>
          </li>
        </ul>
      </div>
      <nav id="navbar-container-id" class="navbar-container">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="">Home</a></li>
          <li class="navbar-item"><a href="#">Favorite</a></li>
          <li class="navbar-item"><a href="https://www.linkedin.com/in/samuel-chrisna-742a011b5">About Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <div class="hero-container">
        <h1 class="hero-title">Dine & Co</h1>
        <p class="hero-description">Discover Anuthentic Dining Experience</p>
      </div>
    </div>
  </header>
  <main id="content-id" class="content">
    <div class="content-header">
      <h2 class="content-header-title">Explore Restaurant</h1>
    </div>
    <div id="content-card-id" class="content-card"></div>
  </main>
  <footer>
    <p>Submission Aksebilitas Modul &copy; 2023, Samuel Chrisna Adjani</p>
  </footer>
</body>

</html>
