<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makan Ges</title>
</head>

<body>
  <a href="#thecontent" class="skip">To the Content</a>
  <header>
    <div class="header-inner">
      <ul class="nav-mob">
        <li><a id="drawer" href="#" class="menu_drawer">☰</a>
        </li>
      </ul>
      <h1 class="headertitle">
        Makan Ges
      </h1>
    </div>
    <nav id="navbar" class="nav">
      <ul class="navlist">
        <li class="navbar-item"><a href="">Home</a></li>
        <li class="navbar-item"><a href="#">Favorite</a></li>
        <li class="navbar-item"><a href="https://www.linkedin.com/in/naufal-angkasah-030401276/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Makan Ges</h1>
      <p class="hero_desc">Discover interesting restaurants in Indonesia</p>
    </div>
  </div>
  <main id="thecontent">
    <div class="latest">
      <h1 class="latesthead">Explore Any Restaurant</h1>
    </div>
    <div id="content" class="content">
    </div>
  </main>
  <footer>
    <p>Makan Ges by NAUFAL ANGKASAH &#169; 2023</p>
  </footer>
</body>

</html>